.contect{
    width: 100%;
    min-width:80%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contect form{
    max-width: 500px;
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   
}

.contect form input{
    width: 60%;
    height: 50px;
    padding: 10px 20px;
    border: 2px solid rgb(46, 42, 42)
}

.contect from button{
    padding: 10px 20px;
    background-color: rgb(57, 53, 53);
    color: #fff;
    border: none;
    font-size:30px;
    border-radius: 20px;
    cursor: pointer;
   
}
.contect from button:hover{
    opacity: 0.8;
}

.btn{
    font-size: 40px;
    padding: 10px;
    border-radius: 20px;
}
.btn:hover{
    opacity: 0.8;
    cursor: pointer;

}
.tet{
    width: 60%;
    height: 80px;
    border-radius: 10px;
}
.tet ::placeholder{
    padding: 10px;
}
