.shop{
    width: 100%;
    min-height: 100vh;
    background: #a7afb3;
}

.heading{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmax;
    font-weight: bold;
    gap: 10px;
    width: 100%;
    height: 150px;
}

.batn{
    height: 50px;
    width: 160px;
    border-radius: 15px;
    background:green;
}
.batn:hover{
    color: greenyellow;
    cursor: pointer;
}