.footer{
    width: 100%;
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    background-color: rgb(22, 18, 18);
    color:#fff;
    font-size: 30px;
}