.product{
    width: 300px;
    height: 370px;
    background-color: rgb(194, 194, 194);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
}
.product-details{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}

.product-details button{
    padding: 10px 20px ;
    background-color: rgb(14, 14, 14);
    color:white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}
.product-details button:hover{
    opacity: 0.8;
}
.product img{ 
    width: 100%;
    max-height:70% ;

}
.product-section {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

