.nav{
    width: 100%;
    height: 120px; 
    box-shadow: 0px 5px 10px black;
   
}

.top-nav{
    width: 100%;
    height: 70%;
    background-color: rgb(118, 122, 126);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;



}

.bottom-nav{
    width: 100%;
    height: 30%;
    background-color: rgb(80, 73, 73);
    color: rgb(64, 154, 232);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    list-style: none;
    font-size: 18px;
}


.top-nav .logo{
    color: #ffffff;
   font-size: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.top-nav .search-box{
    width: 60%;
    height: 60%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;

    
}
.top-nav .search-box input{
    width: 70%;
    height: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 18px;
}
.top-nav .search-box button{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:end;
    font-size: 30px;
    background-color: white;
    border: none;
    padding-right: 10px;

}

.cart-box{
    position: relative;
}

.cart-box svg{
    color: white;
    width: 40px;
    height: 40px;

}
.cart-box span{
    color: white;
    position:absolute;
    top:-14px;
    font-size: 18px;


}

a{
    color: #ffffff;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

@media(max-width:750px) {
    .top-nav .search-box{
     display:none;
    }
}
